@model IEnumerable<IDisplayMode>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayModes</title>
</head>
<body>
    <div>
        <div>Regular user agent: @ViewContext.HttpContext.Request.UserAgent</div>
        <div>Override user agent: @Server.UrlDecode(ViewContext.HttpContext.GetOverriddenUserAgent())</div>

        <table>
            <tr>
                <th>Name</th>
                <th>CanHandleContext</th>
            </tr>
            @foreach (var mode in Model)
            {
                <tr>
                    <td>
                        @mode.DisplayModeId
                    </td>
                    <td>
                        @mode.CanHandleContext(ViewContext.HttpContext)
                    </td>
                </tr>
            }
        </table>
        
        @using (Html.BeginForm())
        {
            <button name="value" value="">Default view</button>
            <button name="value" value="mobile">Mobile view</button>
            <button name="value" value="desktop">Desktop view</button>
            <button name="value" value="silk">Silk view</button>
        }
    </div>
</body>
</html>
